/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: #FFFEF8;
}
.main-content {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 110px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
button{
	font-family: 'Syne';
	cursor: pointer;
}
a{
	text-decoration: none;
	color: black;
	font-family: Work Sans;
}
a:hover {
	font-weight: 700;
}
li {
	cursor: pointer;
}
.fa-sharp {
	pointer-events: none;
}
.navbar-content {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;
}
.navbar-content__link {
	padding: 0 10px;
	font-size: 1.2em;
}
.navbar-content__link-insta {
	width: 19px;
}

/* ---introduction--- */

#introduction {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}
.introduction-figure {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 15px;
}
#introduction img {
	display: block;
	width: 100%;
}
#introduction article {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}
.introduction-article__title {
	margin: 1em 0;
}
#introduction p {
	margin-bottom: 1.5em;
	line-height: 16px;
	font-family: 'Work Sans';
}
.portfolio-header {
	width: 400px;
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 auto 50px;
}
.modif-content {
	display: none;
}
.modif-content.active {
	display: flex;
	align-items: center;
	gap: 6px;
}
.modif-content__span, .modif-content__icon {
	cursor: pointer;
}
.portfolio-header-modif {
	position: absolute;
	top: 27%;
	left: 77%;
}
.gallery {
	margin: 0 auto;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer {
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: flex-end;
}
.footer-navbar__list {
	margin: 2em
}

/* edit-bar */

.edit-bar{
	display: none;
	height: 59px;
	background: #000;
}

.edit-bar.active{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 21px;
}

.edit-bar__edition {
	color: white;
	background: transparent;
	border: none;
}

.edit-bar__publish {
	padding: 11px 23px;
	background: white;
	border-radius: 60px;
	border: none;
}

.edit-bar__publish i{
	background: white;
	border: none;
}

/* filters container */

.filters-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}
.filters-container.active {
	display: none;
}
.filters-container__btn {
	padding: 8px 20px;
	background: transparent;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
}
.filters-container__btn:hover {
	background: #1D6154;
	color: white;
}
.filters-container__btn-active {
	padding: 5px 20px;
	background: #1D6154;
	color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
}